# Data science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. Scala
4. C++
5. Javascript

# Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Scikit-learn
4. TensorFlow
5. Matplotlib

# Data Science Tools :

|Tools            |
-------------------
|Jupyter Notebooks|
|RStudio          |
|Visual Code      |

### Below are a few examples of evaluating arithmetic expressions in Python :

1. Addition : 5 + 8
2. Soustraction : 8 - 5
3. Multiplication : 5 * 8

In [21]:
# This a simple arithmetic expression to mutiply then add integers : 
(3*4)+5

17

In [27]:
# We are going to convert 200 minutes into hours. To do this we must first know that an hour includes 60 minutes so it is enough to divide the number of minutes by 60 to know the number of hours 
x = 200
h = x / 60
print(h)

3.3333333333333335

**Objectives:**

- List popular languages for Data Science.
- Introduce commonly used libraries in Data Science.
- Demonstrate arithmetic operations in Python.
- Provide examples of evaluating expressions.
- Introduce open-source development tools for Data Science.